<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FE Angular JS Test</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="home">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-repeat="categoryItem in dataStore.allCategories"><a href="#">{{categoryItem.Name}}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>