.sidebar{
	float: right; 
    width: 300px;
    position: absolute;
    right: 0;
    border-top: 1px solid #dddddd;
    padding-top: 20px;
    display: inline;
    h4{
        text-align: center;
    }
    li{
        list-style-type: none;
    }
} 